{% extends "base.html" %}

{% block content %}
<br>
<h1 class="text-center">
  Admin page
</h1>
<br>
<a class="btn btn-warning" href="/update_scores">Update Scores</a>
<br><br>
<table class="table">
    <tr>
        <th class="text-right">Team 1</th>
        <th class="text-center">Score</th>
        <th class="text-left">Team 2</th>
        <th class="text-center">Lock</th>
    </tr>
    {% for fixture in fixturees %}
    <tr>
        <form action="{{ url_for('main.update_fixture') }}" method="POST">
            <input type="hidden" name="fixture_id" value="{{ fixture.id }}">
            <td class="text-right">{{ fixture.team1 }}</td>
            <td class="text-center">
                <input name="score1" type="number" min="0" value="{{ fixture.score1 }}" style="margin-right:5px; width:75px">
                <input name="score2" type="number" min="0" value="{{ fixture.score2 }}" style="width:75px">
            </td>
            <td class="text-left">{{ fixture.team2 }}</td>
            <td class="text-center">
                <input style="height:25px; width:25px;" name="lock" type="checkbox" value="" {{ "checked" if fixture.is_finished }}>
            </td>
            <td>
                <button type="submit" class="btn btn-success text-center" style="padding-top: 1px; padding-bottom: 1px; padding-left: 4px; padding-right: 4px">
                    Save
                </button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}