{% extends "base.html" %}

{% block content %}
<br>
<h1 class="text-center">
  Admin page
</h1>
<table class="table">
    <tr>
        <th class="text-right">Team 1</th>
        <th class="text-center">Score</th>
        <th class="text-left">Team 2</th>
        <th class="text-center">Lock</th>
    </tr>
    {% for match in matches %}
    <tr>
        <form action="{{ url_for('main.update_match') }}" method="POST">
            <input type="hidden" name="match_id" value="{{ match.id }}">
            <td class="text-right">{{ match.team1 }}</td>
            <td class="text-center">
                <input name="score1" type="number" min="0" value="{{ match.score1 }}" style="margin-right:5px; width:75px">
                <input name="score2" type="number" min="0" value="{{ match.score2 }}" style="width:75px">
            </td>
            <td class="text-left">{{ match.team2 }}</td>
            <td class="text-center">
                <input style="height:25px; width:25px;" name="lock" type="checkbox" value="" {{ "checked" if match.is_finished }}>
            </td>
            <td>
                <button type="submit" class="btn btn-success text-center" style="padding-top: 1px; padding-bottom: 1px; padding-left: 4px; padding-right: 4px">
                    Save
                </button>
            </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}