{% extends "base.html" %}

{% block content %}
<br>
<div class="jumbotron">
    <h1 class="text-center">
        The Duggan World Cup Predictions Contest
    </h1>
</div>
<br>
<table class="table">
    <tr>
        <th class="text-right">Team 1</th>
        <th class="text-center">Score</th>
        <th class="text-left">Team 2</th>
        {% for username in df.columns[3:] %}
            <th class="text-center">{{ username }}</th>
        {% endfor %}
    </tr>
    {% for index, row in df.iterrows() %}
        <tr>
            <td class="text-right">{{ row[0] }}</td>
            <td class="text-center">{{ row[1][0] }} - {{ row[1][1] }}</td>
            <td class="text-left">{{ row[2] }}</td>
            {% for username in df.columns[3:] %}
                <td class="text-center">{{ row[username][0] }} - {{ row[username][1] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}