{% extends "base.html" %}

{% block content %}
<br>
<div class="jumbotron">
    <h1 class="text-center">
        The Duggan World Cup Predictions Contest
    </h1>
</div>
<br>
<div class="container text-center" style="width: 300px">
    <h2>Rankings</h2>
    <table class="table">
        {% set scores = [] %}
        {% for user in users %}
            {{ scores.append(user.score) or "" }}
        {% endfor %}
        {% for user in users %}
            {% if scores.index(user.score) == 0 %}
                {% set class="points3" %}
            {% elif scores.index(user.score) == 1 %}
                {% set class="points2" %}
            {% elif scores.index(user.score) == 2 %}
                {% set class="points1" %}
            {% else %}
                {% set class="" %}
            {% endif %}
            <tr class="{{ class }}">
                <td>
                    {% if user.id == 3 %}
                        <img src="static/octopus.png" height="20px" style="margin-left: 5px">
                    {% elif class == "points3" %}
                        <img src="static/gold-medal.png" height="20px" style="margin-left: 5px">
                    {% elif scores[-1] == user.score %}
                        <img src="static/poo.png" height="20px" style="margin-left: 5px">
                    {% endif %}
                </td>
                <th>{{ user.username }}</th>
                <td>{{ user.score }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<br>
<div class="text-center">
    <h2>Fixtures</h2>
    <table class="table">
        <tr>
            <th class="text-right">Team 1</th>
            <th class="text-center">Score</th>
            <th class="text-left">Team 2</th>
            {% for username in df.columns[3:] %}
                <th class="text-center" style="min-width:100px">{{ username }}</th>
            {% endfor %}
        </tr>
        {% for index, row in df.iterrows() %}
            <tr>
                <td class="text-right">{{ row[0] }}</td>
                <td class="text-center">{{ row[1][0] }} - {{ row[1][1] }}</td>
                <td class="text-left">{{ row[2] }}</td>
                {% for username in df.columns[3:] %}
                    {% if '' in row[username] %}
                        {% set class="" %}
                    {% elif '' in row[1] %}
                        {% set class="" %}
                    {% else %}
                        {% set predicted_gd = row[username][0] - row[username][1] %}
                        {% set actual_gd = row[1][0] - row[1][1] %}
                        {% if row[username] == row[1] %}
                            {% set class="points3" %}
                        {% elif predicted_gd == actual_gd != 0 %}
                            {% set class="points2" %}
                        {% elif sign(predicted_gd) == sign(actual_gd) %}
                            {% set class="points1" %}
                        {% else %}
                            {% set class="points0" %}
                        {% endif %}
                    {% endif %}
                    <td class="text-center {{ class }}">{{ row[username][0] }} - {{ row[username][1] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<br><br><br><br>
{% endblock %}